{% extends "base.html" %}

{% block title %}Calcular Resultados{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="card-body">
            <div class="text-center mb-3">
                <h1 class="text-primary fw-bold">Custos Relacionados a {{ empresa.lei }}</h1>
                <p class="text-muted">
                    Selecione as subcategorias abaixo, preencha as informações necessárias, como descrição, preço e variáveis, e clique em "Visão Geral" para prosseguir.
                </p>
            </div>
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead class="border-bottom">
                        <tr>
                            <th>Custos</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub in subcategorias %}
                        <tr class="border-bottom">
                            <td class="text-center"><strong>{{ sub.name }}</strong></td>
                            <td>{{ sub.definicao }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-4">
                <form method="POST" action="{{ url_for('resultado.calcular', empresa_id=empresa.id) }}">
                    <button type="submit" class="btn btn-primary btn-lg px-4 py-2">Calcular e Visualizar Resultados</button>
                </form>
            </div>
        </div>
    </div>

    <style>
        .card {
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 15px; /* Bordas arredondadas */
        }

        .card-header {
            background-color: #007bff;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .table {
            border-collapse: collapse; /* Remove os espaços entre as bordas */
        }

        th, td {
            vertical-align: middle;
            text-align: center;
            padding: 15px;
        }

        .border-bottom {
            border-bottom: 1px solid #dee2e6 !important; /* Linha horizontal leve */
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
            border-radius: 50px;
            padding: 10px 20px;
            font-size: 1.2rem;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        p {
            font-size: 1rem;
            color: #6c757d;
        }
    </style>
{% endblock %}
