{% extends "base.html" %}

{% block title %}Sobre a Calculadora de Impacto Regulatório{% endblock %}

{% block content %}
<!-- Seção Hero -->
<!-- Seção Hero -->
<div class="team-title">
    <h1 class="text-center text-primary fw-bold">Sobre</h1>
</div>



    <!-- Conteúdo -->
    <div class="container">
        <div class="content">
            <p>
                A <strong>Calculadora de Impacto Regulatório para Empreendedores (CIRE)</strong> foi desenvolvida pelo Grupo de Pesquisa GP-GIM: Gestão Inovação e Mercados, como parte de esforços e resultados de pesquisas científicas de seus pesquisadores.
            </p>
            <p>
                O objetivo da CIRE é trazer uma solução tecnológica para nortear o entendimento do impacto regulatório que os empreendimentos são expostos no surgimento de novas regulações, ou revisões regulatórias.
            </p>
            <p>
                Atualmente, existem ferramentas disponíveis, mas foram desenvolvidas para atender agências reguladoras, não existindo uma que atenda os agentes econômicos mais influenciados pelos impactos regulatórios: os empreendedores.
            </p>
            <p>
                Para tanto, utilizou-se a revisão de metodologias de cálculo regulatório e realizamos a devida releitura para sua aplicabilidade para o uso de empreendedores. Após a revisão da literatura sobre empreendedorismo e regulação, foi possível criar os dilemas regulatórios enfrentados por empresas. Com o uso da linguagem de programação Python, a construção de uma ferramenta tecnológica intitulada <strong>“Calculadora de Impacto Regulatório para Empreendedores (CIRE)”</strong> foi realizada para atender o empreendedor.
            </p>
            <p>
                Os pesquisadores envolvidos no projeto acreditam que tal ferramenta poderá:
            </p>
            <ul>
                <li>Elucidar e quantificar os impactos de uma regulação ainda em seu processo de implementação, servindo de um ativo importante para a participação ativa em Consultas Públicas, promovidas por agências reguladoras, conforme decreto n.10.411/2020, por parte de empresários dos setores que serão submetidos à regulação;</li>
                <li>Auxiliar na mensuração dos custos regulatórios que impactam diariamente as empresas reguladas;</li>
                <li>Contribuir para a tomada de decisão estratégica dos empreendedores;</li>
                <li>Identificar abuso de poder regulatório, conforme art. 4º da Lei nº 13.874, de 20 de setembro de 2019 (Lei da Liberdade Econômica);</li>
                <li>Identificar Onerosidade Regulatória, conforme Instrução Normativa SEAE nº 111/2020.</li>
            </ul>
            <p>
                Para saber mais detalhes técnicos sobre o código e contribuir com o projeto, acesse o nosso repositório no <a href="https://github.com/CaioParanaiba/Calculadora-Regulatoria?tab=readme-ov-file" target="_blank">GitHub</a>.
            </p>
        </div>
    </div>

    <!-- Blocos de Logos -->
    <div class="container my-4">
        <div class="row text-center">
            <!-- Created by -->
            <div class="col-md-4">
                <h5>Created by</h5>
                <a href="https://www.gpgim.org" target="_blank">
                    <img src="{{ url_for('static', filename='images/logo_gp_gim.png') }}" alt="Logo GP GIM" style="height: 60px; margin-top: 10px;" class="rounded-circle">
                </a>
            </div>

            <!-- Sponsors -->
            <div class="col-md-4">
                <h5>Sponsors</h5>
                <div class="d-flex justify-content-center align-items-center flex-wrap" style="gap: 20px; margin-top: 10px;">
                    <a href="https://www.atlasnetwork.org" target="_blank">
                        <img src="{{ url_for('static', filename='images/logo_atlas.png') }}" alt="Logo Atlas" style="height: 50px;">
                    </a>
                    <a href="https://mises.org.br/" target="_blank">
                        <img src="{{ url_for('static', filename='images/logo_mises.png') }}" alt="Logo Mises" style="height: 50px;">
                    </a>
                </div>
            </div>

            <!-- Partners -->
            <div class="col-md-4">
                <h5>Partners</h5>
                <a href="https://www.ifg.edu.br" target="_blank">
                    <img src="{{ url_for('static', filename='images/logo_if.jpg') }}" alt="Logo IF" style="height: 60px; margin-top: 10px;">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
