{% extends "base.html" %}

{% block title %}Termos e Condições{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Termos e Condições</h1>

    <!-- Seção de Introdução -->
    <p>Este site é mantido e operado pelo <strong>GP-GIM: Grupo de Pesquisa de Gestão, Inovação e Mercados</strong>. Recolhemos e utilizamos alguns dados pessoais que pertencem a quem utiliza o nosso website. Ao fazê-lo, atuamos como o controlador desses dados e estamos sujeitos às disposições da Lei Federal n° 13.709/2018 (Lei Geral de Proteção de Dados Pessoais – LGPD).</p>
    <p>Cuidamos da proteção dos seus dados pessoais e, por isso, disponibilizamos esta Política de Privacidade, que contém informações importantes sobre:</p>
    <ul>
        <li>Quem deve usar nosso site;</li>
        <li>Quais dados coletamos e o que fazemos com eles;</li>
        <li>Seus direitos em relação aos seus dados pessoais; e</li>
        <li>Como entrar em contato conosco.</li>
    </ul>
    <p>Como condição para acesso e uso das funcionalidades exclusivas em nossa plataforma, o Usuário declara que fez a leitura completa e atenta desta Política, estando plenamente ciente, conferindo, assim, sua livre e expressa concordância com os termos aqui estipulados, incluindo a coleta dos dados aqui mencionados, bem como sua utilização para os fins abaixo especificados. Caso o Usuário não esteja de acordo com as disposições desta Política, deverá descontinuar o seu acesso ou uso de nossa plataforma.</p>

    <!-- Seção de Definições -->
    <h2 class="mt-5">Definições</h2>
    <ul>
        <li><strong>Armazenamento em nuvem:</strong> Designa a tecnologia utilizada para guardar dados por meio de serviço on-line;</li>
        <li><strong>Bases Legais:</strong> Termo utilizado para referir às hipóteses legais que autorizam o tratamento de dados pessoais (artigos 7° e 11° da Lei 13.709/2018);</li>
        <li><strong>Controlador:</strong> Toda pessoa física ou jurídica a quem compete as decisões sobre o tratamento de dados;</li>
        <li><strong>Dados Pessoais:</strong> Toda informação que identifica ou torna identificável uma pessoa natural;</li>
        <li><strong>Finalidade:</strong> O tratamento de dados pessoais se dará de acordo com as finalidades específicas informadas nesta política de privacidade;</li>
        <li><strong>Fornecedores de Serviços:</strong> Designa toda pessoa, física ou jurídica, que exerce atividade de prestação de serviço ou produto;</li>
        <li><strong>Necessidade:</strong> O GP-GIM somente irá tratar dados pessoais necessários para atingir as finalidades estabelecidas nesta política de privacidade;</li>
        <li><strong>Plataforma:</strong> Designa a plataforma tecnológica utilizada estritamente para a venda de produtos e serviços educacionais para os usuários, acessível por meio do endereço eletrônico <a href="https://www.calcreg.com.br">https://www.calcreg.com.br</a>;</li>
        <li><strong>Política de Privacidade:</strong> Documento que explica aos Usuários quais dados pessoais serão coletados ao acessarem a plataforma da Calculadora do Impacto Regulatório para Empreendedores (CIRE);</li>
        <li><strong>Usuário(s):</strong> Termo utilizado para designar as pessoas que acessam a plataforma com o objetivo de adquirir ou não algum produto ou serviço.</li>
    </ul>

    <!-- Seções Numeradas -->
    <h2 class="mt-5">1. Quem Deve Usar Nosso Site</h2>
    <p>Nosso site deve ser usado apenas por pessoas com mais de dezoito anos de idade. Portanto, crianças e adolescentes não devem usá-lo.</p>

    <h2 class="mt-5">2. Dados que Coletamos e Motivos da Coleta</h2>
    <p>A coleta de dados também acontecerá caso você preencha as informações para a elaboração do cálculo regulatório. Nosso site coleta e usa alguns dados pessoais de nossos Usuários, de acordo com as disposições desta seção.</p>
    <p>Para que seja possível entregar os nossos serviços e proporcionar uma melhor experiência de navegação, a CIRE coletará dos Usuários alguns dados pessoais, fornecidos por vocês, quando efetuarem o cadastro ou estiverem navegando na plataforma.</p>
    <p>Utilizando as tecnologias de cookies, serão coletadas informações do aparelho (computador, celular, tablet etc.) utilizado pelos Usuários ao acessar a plataforma.</p>

    <h3>2.1. Dados Confidenciais</h3>
    <p>Não serão recolhidos dados sensíveis dos nossos utilizadores, entendendo-se assim os definidos nos arts. 11 e segs. da LGPD. Assim, não haverá coleta de dados sobre origem racial ou étnica, convicção religiosa, opinião política, filiação sindical ou organização de natureza religiosa, filosófica ou política, dados relativos à saúde ou vida sexual, dados genéticos ou biométricos, quando vinculados a uma pessoa física.</p>

    <h3>2.2. Cookies</h3>
    <p>Cookies são pequenos arquivos de texto baixados automaticamente para o seu dispositivo quando você acessa e navega em um site. Eles servem basicamente para identificar dispositivos, atividades e preferências do Usuário.</p>
    <p>Os cookies não permitem que nenhum arquivo ou informação seja extraído do disco rígido do Usuário, e não é possível, além disso, acessar através deles informações pessoais que não sejam provenientes do Usuário ou da forma como ele utiliza os recursos do site.</p>

    <h4>a. Cookies do Site</h4>
    <p>Os cookies do site são aqueles enviados ao computador ou dispositivo do Usuário e administrador exclusivamente pelo site.</p>
    <p>A informação recolhida através destes cookies é utilizada para melhorar e personalizar a experiência do utilizador, sendo que alguns cookies podem, por exemplo, ser utilizados para recordar as preferências e escolhas do utilizador, bem como para oferecer conteúdo personalizado.</p>

    <h4>b. Gerenciamento de Cookies</h4>
    <p>O utilizador poderá opor-se ao registro de cookies através do website se apenas desativar esta opção no seu próprio navegador. Mais informações sobre como fazer isso em alguns dos principais navegadores podem ser acessadas através dos seguintes links:</p>
    <ul>
        <li><a href="https://support.microsoft.com/en/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer</a></li>
        <li><a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac" target="_blank">Safari</a></li>
        <li><a href="https://support.google.com/chrome/answer/95647" target="_blank">Google Chrome</a></li>
        <li><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer" target="_blank">Mozilla Firefox</a></li>
        <li><a href="https://www.opera.com/help/tutorials/security/privacy/" target="_blank">Opera</a></li>
    </ul>
    <p>A desativação dos cookies, no entanto, poderá afetar a disponibilidade de algumas ferramentas e funcionalidades do website, comprometendo o seu correto e esperado funcionamento. Outra possível consequência de fazer isso é remover as preferências do Usuário que podem ter sido salvas, prejudicando sua experiência.</p>

    <h2 class="mt-5">3. Coleta de Dados Não Fornecidos Expressamente</h2>
    <p>Ocasionalmente, outros tipos de dados, não previstos expressamente nesta Política de Privacidade, poderão ser coletados, desde que fornecidos com o consentimento do Usuário, ou ainda que a coleta seja permitida com base em outro fundamento legal previsto em lei.</p>
    <p>Em qualquer caso, as atividades de coleta e processamento de dados decorrentes serão informadas aos Usuários do site.</p>

    <h2 class="mt-5">4. Compartilhamento de Dados Pessoais com Terceiros</h2>
    <p>A CIRE poderá compartilhar os dados dos Usuários nas seguintes situações:</p>
    <ul>
        <li>Com empresas ou pessoas contratadas para executar atividades e serviços para a CIRE;</li>
        <li>Com pesquisadores pertencentes ao grupo GP-GIM;</li>
        <li>Em caso de obrigação legal e determinação judicial.</li>
    </ul>
    <p>Na hipótese de a CIRE fornecer os dados do Usuário por determinação legal, desde que não haja vedação nesse sentido, ele será imediatamente comunicado.</p>
    <p>Todos que receberem, independente do motivo, dados coletados pela CIRE deverão utilizá-los exclusivamente para a finalidade a qual foram fornecidos, estando proibidos de compartilharem com terceiros.</p>
    <p>A CIRE não vende, compartilha ou repassa dados dos Usuários para terceiros diversos dos indicados acima.</p>

    <h2 class="mt-5">5. Por Quanto Tempo Seus Dados Pessoais Serão Armazenados</h2>
    <p>A CIRE armazenará os dados dos Usuários pelo tempo necessário para o cumprimento dos serviços contratados, obrigações legais, prestação de contas ou requisição da autoridade competente.</p>
    <p>Os dados dos Usuários serão armazenados em bases de dados mantidas na “nuvem” pela CIRE ou por fornecedores de serviços contratados, que declaram desde já estar devidamente de acordo com a legislação de dados vigente.</p>
    <p>A CIRE e seus fornecedores de serviços adotam procedimentos de segurança para proteger a privacidade e integridade dos dados pessoais de seus Usuários, visando a prevenção de danos e utilização ilegal ou contrária ao estabelecido nesta Política de Privacidade.</p>
    <p>O Usuário entende e concorda que, mesmo que a CIRE e seus fornecedores parceiros adotem medidas de segurança para proteção de seus dados pessoais contra a divulgação não autorizada ou mau uso, não há garantia que incidentes não ocorrerão.</p>
    <p>O Usuário se compromete a avisar prontamente a CIRE caso identifique o uso indevido de seus dados pessoais.</p>
    <p>Em caso de incidente envolvendo dados pessoais dos Usuários, a CIRE tomará as medidas necessárias para mitigar todos os danos e notificará todos.</p>

    <h2 class="mt-5">6. Bases Legais para o Tratamento de Dados Pessoais</h2>
    <p>Cada operação de tratamento de dados pessoais deve ter uma base legal, que nada mais é do que uma justificação que a autorize, prevista na Lei Geral de Proteção de Dados Pessoais.</p>
    <p>Todas as nossas atividades de tratamento de dados pessoais têm uma base legal que as suporta, entre as permitidas por lei. Mais informações sobre as bases legais que utilizamos para operações específicas de processamento de dados pessoais podem ser obtidas em nossos canais de contato, informados ao final desta Política.</p>
    <p>Informamos que a CIRE opera em vários países, e que, portanto, a informação pessoal pode circular por esses países. Todos esses países regem-se por este documento e por acordos de confidencialidade e transferência de dados. A informação pessoal nunca é utilizada fora da CIRE sem a permissão dos titulares dos dados.</p>
    <p>O consentimento é colhido de forma expressa e inequívoca no momento do cadastro na plataforma da CIRE, na celebração de contratos ou procedimentos contratuais.</p>

    <h2 class="mt-5">7. Direitos dos Usuários</h2>
    <p>O utilizador da plataforma tem os seguintes direitos, conferidos pela Lei de Proteção de Dados Pessoais:</p>
    <ul>
        <li>Confirmação da existência de tratamento;</li>
        <li>Acesso aos dados;</li>
        <li>Correção de dados incompletos, imprecisos ou desatualizados;</li>
        <li>Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados que não cumpram o disposto na lei;</li>
        <li>Portabilidade de dados para outro fornecedor de serviço ou produto, mediante pedido expresso, de acordo com a regulamentação da autoridade nacional, sujeito à informação classificada comercial e industrial;</li>
        <li>Eliminação dos dados pessoais tratados com o consentimento do titular, salvo nos casos previstos na lei;</li>
        <li>Informações de entidades públicas e privadas com as quais o controlador compartilhou dados;</li>
        <li>Informação sobre a possibilidade de não dar o consentimento e sobre as consequências da recusa;</li>
        <li>Revogação do consentimento.</li>
    </ul>

    <h3>7.1. Exclusão de Dados</h3>
    <p>Os dados dos Usuários serão excluídos dos servidores e dos arquivos da CIRE quando solicitado pelo seu titular ou quando não forem mais necessários para a prestação dos serviços.</p>
    <p>Independente do pedido de exclusão pelo Usuário, a CIRE manterá em seus registros alguns dados dos Usuários como forma de cumprimento do dever legal.</p>
    <p>Para solicitar a exclusão dos seus dados dos nossos registros, o Usuário deverá enviar e-mail para <a href="mailto:adriano.paranaiba@ifg.edu.br">adriano.paranaiba@ifg.edu.br</a> ou carta escrita para o endereço do GP-GIM.</p>
    <p>A solicitação de exclusão dos dados pelo Usuário implicará no cancelamento da conta, bem como dos serviços contratados.</p>

    <h2 class="mt-5">8. Medidas de Segurança no Processamento de Dados Pessoais</h2>
    <p>Empregamos medidas técnicas e organizacionais para proteger os dados pessoais de acesso não autorizado e situações que levem à destruição, perda ou alteração desses dados.</p>
    <p>As medidas que utilizamos consideram a natureza dos dados, o contexto e finalidade do tratamento, os riscos que uma eventual violação geraria para os direitos e liberdades do Usuário e os padrões atualmente utilizados no mercado por empresas como a nossa.</p>
    <p>Entre as medidas de segurança que adotamos, destacamos as seguintes:</p>
    <ul>
        <li>Armazenamento de senhas usando hashes criptográficos;</li>
        <li>Restrições de acesso a bases de dados;</li>
        <li>Monitoramento do acesso físico aos servidores.</li>
    </ul>
    <p>Mesmo que adotemos tudo ao nosso alcance para evitar incidentes de segurança, é possível que haja algum problema motivado exclusivamente por terceiros - como no caso de ataques de hackers ou crackers, ou mesmo no caso de culpa exclusiva do Usuário, o que ocorre, por exemplo, quando ele próprio transfere seus dados para um terceiro. Assim, embora sejamos geralmente responsáveis pelos dados pessoais que tratamos, estamos isentos de responsabilidade no caso de uma situação excepcional como esta, sobre a qual não temos qualquer controle.</p>
    <p>De qualquer forma, em caso de qualquer tipo de incidente de segurança que possa gerar risco ou dano significativo a qualquer um de nossos usuários, comunicaremos aos afetados e à Autoridade Nacional de Proteção de Dados sobre o ocorrido, de acordo com o disposto na Lei sobre Proteção de Dados Pessoais.</p>

    <h2 class="mt-5">9. Outras Aplicações</h2>
    <p>A CIRE possui ligações com outros sites, os quais podem conter informações ou ferramentas úteis para os nossos visitantes.</p>
    <p>Eventualmente, quando o site remete o seu acesso a outro aplicativo ou plataforma, tais como Twitter, LinkedIn, Instagram, Facebook etc., você passa a submeter-se à Política de Privacidade do site ou da aplicação que estiver acessando. Dessa forma, a presente Política não será mais aplicada em caso de compartilhamento de dados pessoais que você venha a fazer ou mesmo aos dados que nesses ambientes vierem a ser coletados.</p>
    <p>Ressaltamos a importância de você realizar uma consulta às Políticas de Privacidade desses sites ou aplicações, pois a CIRE não tem nenhum controle sobre o conteúdo, coleta, transferência, compartilhamento e armazenamento de seus dados pessoais que podem acontecer nesses locais.</p>

    <h2 class="mt-5">10. Links</h2>
    <p>O site da CIRE pode conter links para outros sites de parceiros e anunciantes. A CIRE alerta que não é a controladora desses outros sites. Fica recomendado ao Usuário a análise da política de privacidade dos outros sites que acessa através dos links, antes de realizar cadastro.</p>
    <p>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nos sites de terceiros.</p>

    <h2 class="mt-5">11. Reclamação a uma Autoridade Supervisora</h2>
    <p>Sem prejuízo de qualquer outro meio de recurso administrativo ou judicial, os titulares de dados pessoais que se sintam de alguma forma lesados podem apresentar reclamação à Autoridade Nacional de Proteção de Dados.</p>

    <h2 class="mt-5">12. Alterações a Esta Política</h2>
    <p>A versão atual desta Política de Privacidade foi atualizada pela última vez em 30 de novembro de 2024.</p>
    <p>Reservamo-nos o direito de modificar estes regulamentos a qualquer momento, especialmente para adaptá-los a quaisquer alterações feitas em nosso site, seja disponibilizando novos recursos, seja excluindo ou modificando os existentes.</p>
    <p>Cab

erá ao Usuário verificar a existência ou não de alteração na Política de Privacidade sempre que acessar a plataforma.</p>
    <p>A presente Política de Privacidade rege-se pela legislação da República Federativa do Brasil.</p>
    <p>Os Usuários desta plataforma se submetem ao Foro da Comarca da cidade de Goiânia/GO, com exclusão de qualquer outro, por mais privilegiado que seja.</p>

    <h2 class="mt-5">13. Como Entrar em Contato Conosco</h2>
    <p>Para esclarecer quaisquer dúvidas relativamente a esta Política de Privacidade ou aos dados pessoais que tratamos, contacte o nosso Encarregado de Proteção de Dados Pessoais, através de qualquer um dos canais abaixo indicados:</p>
    <p><strong>GP-GIM: Grupo de Pesquisa em Gestão, Inovação e Mercados</strong></p>
    <p><strong>Email:</strong> <a href="mailto:adriano.paranaiba@ifg.edu.br">adriano.paranaiba@ifg.edu.br</a></p>
    <p><strong>Endereço:</strong> R. 75, 46 - Centro, Goiânia - GO, 74055-110</p>
    <p><strong>Telefone:</strong> (62) 3227-2700</p>
</div>
{% endblock %}
